@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-page: #f8fafc;
}

.rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 600;
    font-style: normal;
}

/* .iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
.dark {
    --bg-page: #0f172a;
}

html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-gray-50 text-gray-800;
}
.dark body {
    @apply bg-gray-900 text-gray-100;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    50.01%,
    100% {
        opacity: 0;
    }
}
.blink {
    animation: blink 1s step-start infinite;
}

.rail-btn {
    @apply h-11 w-11 rounded-2xl
         inline-flex items-center justify-center
         hover:bg-slate-100/60 dark:hover:bg-white/5
         transition-colors;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    animation: marquee 18s linear infinite;
}
